################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nbp/bin/Debug/netcoreapp3.1
/.vs
/Nbp/obj
